body {
    background-color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 50px;
}

h1, h2 {
    color: seashell;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}


p {
    color: Gray;
    font-size: 21px;
}


a {
    color: #7DFBD1; 
    font-size: 16px;
}